@page
@functions
{
    public string DayName{get;set;}
    public void OnGet()
    {
        ViewData["Title"] = "EnergyOne`s Веб-приложение";
        Model.DayName = DateTime.Now.ToString("dddd");
    }
}
<div class="jumbotron">
<h1 class="display-3">Welcome to EnergyOne`s World!</h1>
<p class="lead">Данная страница создана исключительно в ознакомительных целях автора с инструментами ASP.NET</p>
<p>
    <button>Сюда щас сделаю какой-то функционал</button>
</p>
<hr />

<p>Сегодня @Model.DayName! А значит время заглянуть в моё SinglePage веб-приложение на Razor Pages!</p>
<p>
<a class="btn btn-primary" href="names">Другая страница (с именами разработчика и его группы поддержки)</a>
</p>
</div>
